hmd-tf-bartleby==<current>
sphinx==8.2.3
sphinx-copybutton==0.5.2
sphinx-jsonschema==1.19.2
sphinx-inline-tabs==2025.12.21.14
sphinxcontrib-plantuml==0.31
sphinx-revealjs==3.2.1
sphinxcontrib-confluencebuilder==3.0.0
sphinxcontrib.datatemplates==0.11.0
nbsphinx==0.9.8
sphinx-needs==6.3.0
myst-parser==5.0.0
when-changed==0.3.0
requests
hmd-cli-tools~=1.2.244
