hmd-tf-bartleby==0.1.19
sphinx-copybutton==0.3.1
sphinx-jsonschema==1.17.2
sphinx-inline-tabs==2022.1.2b11
when-changed==0.3.0
sphinxcontrib-plantuml==0.23
nbsphinx
sphinx-needs
myst-parser
requests
sphinx-revealjs
sphinxcontrib-confluencebuilder
hmd-cli-tools~=1.1
sphinxcontrib.datatemplates